# Ivan Zepeda
## C0883949



## IN CLASS ASSIGNMENT 3 Part A

In [32]:
text="""Feature Extraction aims to reduce the number of features in a dataset by creating new features from the existing ones (and then discarding the original features). These new reduced set of features should then be able to summarize most of the information contained in the original set of features!!!. In this way, a summarised version of the original features can be created from a combination of the original set!!!

Another commonly used technique to reduce the number of feature in a dataset is Feature Selection! The difference between Feature Selection and/or Feature Extraction is that feature selection aims instead to $ rank the importance of the existing features in the dataset and discard less important ones (no new features are created)?!. If you are interested in finding out more about Feature Selection, you can find more information about it in my previous article.

In this article, I will walk you through how to apply Feature Extraction techniques using the Kaggle Mushroom Classification Dataset as an example??? Our objective will be to try to predict if a Mushroom is poisonous or not by looking at the given features. All the code used in this post (and more!) is available on Kaggle and on my GitHub Account.
"""
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))

## 1- Remove stopword and punctuation  ALSO do an internet search (e.g., stack overflow) and find alternative methods.

In [52]:
nostopwords_text=[]
tokenized_words= word_tokenize(text)
for word in tokenized_words:
    if word not in stopwords and word.isalnum():
        nostopwords_text.append(word)
print(" ".join(nostopwords_text))

Feature Extraction aims reduce number features dataset creating new features existing ones discarding original features These new reduced set features able summarize information contained original set features In way summarised version original features created combination original set Another commonly used technique reduce number feature dataset Feature Selection The difference Feature Selection Feature Extraction feature selection aims instead rank importance existing features dataset discard less important ones new features created If interested finding Feature Selection find information previous article In article I walk apply Feature Extraction techniques using Kaggle Mushroom Classification Dataset example Our objective try predict Mushroom poisonous looking given features All code used post available Kaggle GitHub Account

> alternative methods: 
> - Use Regex to filter punctuation
> - Use built in functions for string replace
> - Create personal stopwords list

## 2- Apply stemming & lemmetization

In [53]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

for word in nostopwords_text:
    print(word,' => \t',ps.stem(word))

Feature  => 	 featur
Extraction  => 	 extract
aims  => 	 aim
reduce  => 	 reduc
number  => 	 number
features  => 	 featur
dataset  => 	 dataset
creating  => 	 creat
new  => 	 new
features  => 	 featur
existing  => 	 exist
ones  => 	 one
discarding  => 	 discard
original  => 	 origin
features  => 	 featur
These  => 	 these
new  => 	 new
reduced  => 	 reduc
set  => 	 set
features  => 	 featur
able  => 	 abl
summarize  => 	 summar
information  => 	 inform
contained  => 	 contain
original  => 	 origin
set  => 	 set
features  => 	 featur
In  => 	 in
way  => 	 way
summarised  => 	 summaris
version  => 	 version
original  => 	 origin
features  => 	 featur
created  => 	 creat
combination  => 	 combin
original  => 	 origin
set  => 	 set
Another  => 	 anoth
commonly  => 	 commonli
used  => 	 use
technique  => 	 techniqu
reduce  => 	 reduc
number  => 	 number
feature  => 	 featur
dataset  => 	 dataset
Feature  => 	 featur
Selection  => 	 select
The  => 	 the
difference  => 	 differ
Feature  => 	 featur
Selection  => 	 select
Feature  => 	 featur
Extraction  => 	 extract
feature  => 	 featur
selection  => 	 select
aims  => 	 aim
instead  => 	 instead
rank  => 	 rank
importance  => 	 import
existing  => 	 exist
features  => 	 featur
dataset  => 	 dataset
discard  => 	 discard
less  => 	 less
important  => 	 import
ones  => 	 one
new  => 	 new
features  => 	 featur
created  => 	 creat
If  => 	 if
interested  => 	 interest
finding  => 	 find
Feature  => 	 featur
Selection  => 	 select
find  => 	 find
information  => 	 inform
previous  => 	 previou
article  => 	 articl
In  => 	 in
article  => 	 articl
I  => 	 i
walk  => 	 walk
apply  => 	 appli
Feature  => 	 featur
Extraction  => 	 extract
techniques  => 	 techniqu
using  => 	 use
Kaggle  => 	 kaggl
Mushroom  => 	 mushroom
Classification  => 	 classif
Dataset  => 	 dataset
example  => 	 exampl
Our  => 	 our
objective  => 	 object
try  => 	 tri
predict  => 	 predict
Mushroom  => 	 mushroom
poisonous  => 	 poison
looking  => 	 look
given  => 	 given
features  => 	 featur
All  => 	 all
code  => 	 code
used  => 	 use
post  => 	 post
available  => 	 avail
Kaggle  => 	 kaggl
GitHub  => 	 github
Account  => 	 account

## 3- POS

In [60]:
# Obtaining the part of speech of each word, from word tokenized
from nltk import pos_tag
pos_text = pos_tag(nostopwords_text)
print(pos_text)
#This code doesnt work as it expects a list of text
# pos_text=[]
# for word in nostopwords_text:
#     pos_text.append(pos_tag(word))
#     print(word, pos_tag(word))

[('Feature', 'NN'), ('Extraction', 'NNP'), ('aims', 'VBZ'), ('reduce', 'VB'), ('number', 'NN'), ('features', 'NNS'), ('dataset', 'VBP'), ('creating', 'VBG'), ('new', 'JJ'), ('features', 'NNS'), ('existing', 'VBG'), ('ones', 'NNS'), ('discarding', 'VBG'), ('original', 'JJ'), ('features', 'NNS'), ('These', 'DT'), ('new', 'JJ'), ('reduced', 'VBD'), ('set', 'VBN'), ('features', 'NNS'), ('able', 'JJ'), ('summarize', 'JJ'), ('information', 'NN'), ('contained', 'VBD'), ('original', 'JJ'), ('set', 'NN'), ('features', 'NNS'), ('In', 'IN'), ('way', 'NN'), ('summarised', 'JJ'), ('version', 'NN'), ('original', 'JJ'), ('features', 'NNS'), ('created', 'VBN'), ('combination', 'NN'), ('original', 'JJ'), ('set', 'NN'), ('Another', 'DT'), ('commonly', 'RB'), ('used', 'VBN'), ('technique', 'NN'), ('reduce', 'VB'), ('number', 'NN'), ('feature', 'NN'), ('dataset', 'VBN'), ('Feature', 'NNP'), ('Selection', 'NNP'), ('The', 'DT'), ('difference', 'NN'), ('Feature', 'NNP'), ('Selection', 'NNP'), ('Feature', 'NNP'), ('Extraction', 'NNP'), ('feature', 'NN'), ('selection', 'NN'), ('aims', 'VBZ'), ('instead', 'RB'), ('rank', 'JJ'), ('importance', 'NN'), ('existing', 'VBG'), ('features', 'NNS'), ('dataset', 'VBN'), ('discard', 'RB'), ('less', 'RBR'), ('important', 'JJ'), ('ones', 'NNS'), ('new', 'JJ'), ('features', 'NNS'), ('created', 'VBN'), ('If', 'IN'), ('interested', 'JJ'), ('finding', 'NN'), ('Feature', 'NNP'), ('Selection', 'NNP'), ('find', 'VBP'), ('information', 'NN'), ('previous', 'JJ'), ('article', 'NN'), ('In', 'IN'), ('article', 'NN'), ('I', 'PRP'), ('walk', 'VBP'), ('apply', 'JJ'), ('Feature', 'NNP'), ('Extraction', 'NNP'), ('techniques', 'NNS'), ('using', 'VBG'), ('Kaggle', 'NNP'), ('Mushroom', 'NNP'), ('Classification', 'NNP'), ('Dataset', 'NNP'), ('example', 'NN'), ('Our', 'PRP$'), ('objective', 'JJ'), ('try', 'NN'), ('predict', 'NN'), ('Mushroom', 'NNP'), ('poisonous', 'JJ'), ('looking', 'VBG'), ('given', 'VBN'), ('features', 'NNS'), ('All', 'DT'), ('code', 'NNS'), ('used', 'VBD'), ('post', 'NN'), ('available', 'JJ'), ('Kaggle', 'NNP'), ('GitHub', 'NNP'), ('Account', 'NNP')]

## 4- Bag of words

In [66]:
text1="""Feature Extraction aims to reduce the number of features in a dataset by creating new features from the existing ones (and then discarding the original features). These new reduced set of features should then be able to summarize most of the information contained in the original set of features!!!. In this way, a summarised version of the original features can be created from a combination of the original set!!!"""
text2="""Another commonly used technique to reduce the number of feature in a dataset is Feature Selection! The difference between Feature Selection and/or Feature Extraction is that feature selection aims instead to $ rank the importance of the existing features in the dataset and discard less important ones (no new features are created)?!. If you are interested in finding out more about Feature Selection, you can find more information about it in my previous article."""
text3="""In this article, I will walk you through how to apply Feature Extraction techniques using the Kaggle Mushroom Classification Dataset as an example??? Our objective will be to try to predict if a Mushroom is poisonous or not by looking at the given features. All the code used in this post (and more!) is available on Kaggle and on my GitHub Account."""

In [61]:
# lower words
lower_tokens =[x.lower() for x in nostopwords_text]
print(lower_tokens)

['feature', 'extraction', 'aims', 'reduce', 'number', 'features', 'dataset', 'creating', 'new', 'features', 'existing', 'ones', 'discarding', 'original', 'features', 'these', 'new', 'reduced', 'set', 'features', 'able', 'summarize', 'information', 'contained', 'original', 'set', 'features', 'in', 'way', 'summarised', 'version', 'original', 'features', 'created', 'combination', 'original', 'set', 'another', 'commonly', 'used', 'technique', 'reduce', 'number', 'feature', 'dataset', 'feature', 'selection', 'the', 'difference', 'feature', 'selection', 'feature', 'extraction', 'feature', 'selection', 'aims', 'instead', 'rank', 'importance', 'existing', 'features', 'dataset', 'discard', 'less', 'important', 'ones', 'new', 'features', 'created', 'if', 'interested', 'finding', 'feature', 'selection', 'find', 'information', 'previous', 'article', 'in', 'article', 'i', 'walk', 'apply', 'feature', 'extraction', 'techniques', 'using', 'kaggle', 'mushroom', 'classification', 'dataset', 'example', 'our', 'objective', 'try', 'predict', 'mushroom', 'poisonous', 'looking', 'given', 'features', 'all', 'code', 'used', 'post', 'available', 'kaggle', 'github', 'account']

In [72]:
# Method 1: SKLEARN
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer


def get_bow(_text):
    _text = [x.lower() for x in word_tokenize(_text) if x.isalnum()]
    vectorizer = CountVectorizer()
    BOW = vectorizer.fit_transform(_text)
    #     print(BOW.toarray())
    #     print(vectorizer.get_feature_names())
    df = pd.DataFrame(columns=vectorizer.get_feature_names(), data=BOW.toarray())
    return df

df1=get_bow(text1)
df2=get_bow(text2)
df3=get_bow(text3)

/Users/ivan/opt/anaconda3/envs/sem2/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/Users/ivan/opt/anaconda3/envs/sem2/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/Users/ivan/opt/anaconda3/envs/sem2/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [75]:
df1.head(2)

,able,aims,and,be,by,can,combination,contained,created,creating,...,should,summarised,summarize,the,then,these,this,to,version,way
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
df2.head(2)

,about,aims,and,another,are,article,between,can,commonly,created,...,previous,rank,reduce,selection,technique,that,the,to,used,you
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
df3.head(2)

,account,all,an,and,apply,article,as,at,available,be,...,the,this,through,to,try,used,using,walk,will,you
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

## 5- Tfidf

In [81]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Sample documents
documents = [
    text1,text2,text3
]

# Create an instance of TfidfVectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the documents
tfidf_matrix = vectorizer.fit_transform(documents)

# Get the feature names (words)
feature_names = vectorizer.get_feature_names()

# Print the TF-IDF matrix
# print(tfidf_matrix.toarray())
# print("Feature names:", feature_names)
df_tfidf=pd.DataFrame(columns=feature_names, data=tfidf_matrix.toarray())

/Users/ivan/opt/anaconda3/envs/sem2/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [80]:
df_tfidf

,able,about,account,aims,all,an,and,another,apply,are,...,through,to,try,used,using,version,walk,way,will,you
0,0.09415,0.000000,0.000000,0.071603,0.000000,0.000000,0.055606,0.000000,0.000000,0.000000,...,0.000000,0.111213,0.000000,0.000000,0.000000,0.09415,0.000000,0.09415,0.000000,0.000000
1,0.00000,0.207232,0.000000,0.078803,0.000000,0.000000,0.122395,0.103616,0.000000,0.207232,...,0.000000,0.122395,0.000000,0.078803,0.000000,0.00000,0.000000,0.00000,0.000000,0.157606
2,0.00000,0.000000,0.127726,0.000000,0.127726,0.127726,0.150874,0.000000,0.127726,0.000000,...,0.127726,0.226311,0.127726,0.097139,0.127726,0.00000,0.127726,0.00000,0.255451,0.097139



## IN CLASS ASSIGNMENT 3 Part B

1 write a python program to compute the sum of the two reversed numbers  
and display the sum in reversed form  
input 13,14  
output 27  
// 31 is reversed of 13, 130, 1300

In [3]:
def sum_reversed(numa, numb):
    suma=int(str(numa)[::-1])+int(str(numb)[::-1])
    rev=str(suma)[::-1]
    print(rev)
sum_reversed(13,14)
sum_reversed(1300,27) #301

27
301

2 Write a python program to check whether a given number is an ugly number:  
    12  
    True  
    
    Ugly number are positive numbers whose only prime factors are 2,3,5
    the sequence 12345678910 12
    shows the first 10 ugly numbers
    
    note 1, is typically treated as ugly number

In [26]:
def is_ugly(num):
    print(num,end=" ")
    if num == 1:
        return True
    if(num%4==0):
        return False
    for i in range(6,num):
        if(num%i==0 and (num%5==0 and num%3==0 and num%2==0)):
            return False
    if(num%5==0 or num%3==0 or num%2==0):
        return True
    return False
print(is_ugly(11))  # False (Prime factor other than 2, 3, or 5)
print(is_ugly(1))   # True (Special case where 1 is considered an ugly number)
print(is_ugly(5))   # True (Only has prime factors 5)
print(is_ugly(15))  # True (Has prime factors 3 and 5)
print(is_ugly(20))  # True (Has prime factors 2 and 5)
print(is_ugly(16))  # True (Has prime factor 2)
print(is_ugly(12))  # True (Has prime factors 2 and 3)
print(is_ugly(121))  # False (Has a prime factor other than 2, 3, or 5)
print(is_ugly(21))   # False (Has a prime factor other than 2, 3, or 5) <<<<<<
print(is_ugly(51))   # False (Has a prime factor other than 2, 3, or 5) <<<<<<
print(is_ugly(156))  # False (Has a prime factor other than 2, 3, or 5)
print(is_ugly(23))   # False (Has a prime factor other than 2, 3, or 5)
print(is_ugly(17))   # False (Has a prime factor other than 2, 3, or 5)
print(is_ugly(19))   # False (Has a prime factor other than 2, 3, or 5)

11 False
1 True
5 True
15 True
20 False
16 False
12 False
121 False
21 True
51 True
156 False
23 False
17 False
19 False

In [6]:
def get_ugly_number(n):
    ugly = [0] * n  # Create an empty list to store ugly numbers
    ugly[0] = 1  # Set the first ugly number as 1
    next_multiple_of_2 = 2
    next_multiple_of_3 = 3
    next_multiple_of_5 = 5
    i2 = i3 = i5 = 0

    for i in range(1, n):
        # Find the minimum of the multiples of 2, 3, and 5
        ugly[i] = min(next_multiple_of_2, next_multiple_of_3, next_multiple_of_5)

        # Update the indices for the next multiples
        if ugly[i] == next_multiple_of_2:
            i2 += 1
            next_multiple_of_2 = ugly[i2] * 2
        if ugly[i] == next_multiple_of_3:
            i3 += 1
            next_multiple_of_3 = ugly[i3] * 3
        if ugly[i] == next_multiple_of_5:
            i5 += 1
            next_multiple_of_5 = ugly[i5] * 5

    return ugly[-1]  # Return the last element of the ugly numbers list


# Example usage:
n = 12
ugly_number = get_ugly_number(n)
print(f"The {n}th ugly number is: {ugly_number}")

The 12th ugly number is: 16

In [27]:
def is_ugly(number):
    if number <= 0:
        return False
    
    while number % 2 == 0:
        number = number // 2
    
    while number % 3 == 0:
        number = number // 3
    
    while number % 5 == 0:
        number = number // 5
    
    return number == 1


# Example usage:
num = 30
if is_ugly(num):
    print(f"{num} is an ugly number.")
else:
    print(f"{num} is not an ugly number.")

30 is an ugly number.